*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    height: 80vh;
    width: 100%;
    background-color: #042C3C;
}

header{
    /* height: 80vh;
    width: 100%; */
    background-color: rgba(21, 34, 56, 1);
    background-size: cover;
    background-position: center;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    padding-right: 3%;
    padding-left: 4%;
    background-color: rgba(10, 15, 35, 0.7);
    overflow: hidden;
}

nav .logo a{
    list-style: none;
    color: rgb(255, 255, 255);
    font-family: Georgia;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

span{
    color: rgb(0, 191, 255);
    font-family: Georgia;
    cursor: pointer;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: transparent;
}

nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 300;
    text-transform: uppercase;
    background-color: transparent;
    font-size: 18px;
}

#form {
    color: rgb(0, 191, 255);
    font-weight: bold;
}

nav ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: rgb(0, 191, 255);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

nav ul li:hover::after{
    width: 100%;
}

.main{
    width: 500px;
    height: 90vh;
    margin: 40px auto;
}
h2{
    text-align: center;
    padding: 20px;
    color:rgb(0, 191, 255);
    font-size: 34px;
}

.register{
    /* background: linear-gradient(rgba(132, 124, 124, 0.1), rgb(72, 72, 72,0.3)); */
    /* background: rgba(54,86,99,1); */
    background: linear-gradient(rgba(135, 195, 218, 0.3), rgba(104, 103, 103, 0.5));
    /* background: rg; */
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgba(124,124,124,0.4);
    color: white;
}

form{
    margin: 40px;
}

label{
    font-size: 17px;
}


input#name, #uname, #age, #email, #password{
    width: 400px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: 0;
    padding: 5px;
    background-color: transparent;
    color: white;
    font-size: 15px;
    margin-top: 5px;
}

input#male, #female, #non{
    margin: 10px 10px;
}

#register{
    width: 150px;
    padding: 7px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    background:  #0474BC;
    color: white;
    cursor: pointer;
    border: 1px solid #0474BC;
    margin-left: 32%;
}

#register:hover{
    border: 1px solid rgb(0, 191, 255);
    background: rgb(0, 191, 255);
    transition: 0.7s;
}

footer{
    display: inline-block;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #041C2C;
    width: 100%;
    height: auto;
    color: rgb(255, 255, 255);
}

.follow{
    text-align: center;
    font-size: 15px;
}

.follow h2{
    padding-top: 30px;
    margin-bottom: 5px;
    color: white;
    font-size: 22px;
}

.container2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery2{
    margin: 3px;
    width: 40px;
}

.gallery2 img{
    width: 100%;
    height: auto;
    margin-bottom: 5px;
    margin-top: -20px;
}

.footContent{
    text-align: center;
    position: relative;
}

.footContent h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-bottom: 10px;
    color: white;
}

.footContent p{
    font-size: 12px;
    color: white;
}

.copy{
    font-size: 12px;
    font-weight: 100;
    padding-top: 10px;
    color: white;
}



