*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    align-items: center;
    justify-content: center;
}

header{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(10, 15, 35, 0.7), rgba(10, 15, 35, 0.7)), url(Assets/UnderwaterForHome.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    padding-right: 3%;
    padding-left: 4%;
    background-color: rgba(10, 15, 35, 0.7);
    overflow: hidden;
}

nav .logo a{
    list-style: none;
    color: rgb(255, 255, 255);
    font-family: Georgia;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background: transparent;
}

span{
    color: rgb(0, 191, 255);
    font-family: Georgia;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: transparent;
}

nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 300;
    text-transform: uppercase;
    background-color: transparent;
    font-size: 18px;
}

#home {
    color: rgb(0, 191, 255);
    font-weight: bold;
}


nav ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: rgb(0, 191, 255);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

nav ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: transparent;
    overflow: hidden;
 }

.content h1{
    font-size: 60px;
    margin-top: 75px;
    background-color: transparent;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 22px;
    font-size: 18px;
    background-color: transparent;
}

.regButton{
    display: inline-block;
    text-decoration: none;
    font-size: 17px;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    margin: 20px 20px;
    padding: 8px 22px;
    font-weight: 100;
    cursor: pointer;
    background: transparent;
    /* position: relative; */
}

.regButton:hover{
    border: 2px solid #0474BC;
    background: #0474BC;
    transition: 1s;
}

/* Top Animals */

.topAnimals{
    height: 90vh;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 75px;
    background-color: #042C3C;
}

.topAnimals h1{
    font-size: 54px;
    font-weight: bold;
    color: rgb(0, 191, 255);
}

.topAnimals p{
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 20px;
    padding: 22px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery{
    margin: 30px;
    width: 420px;
    transform: translate(0%, 0%);
}

.gallery img{
    width: 100%;
    height: auto;
    border-radius: 6px;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 68px;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    box-shadow: 0px 0px 20px 0px rgb(0, 191, 255);
    background: rgba(21, 34, 56, 1);
}

.fact{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 18px;
    line-height: 22px;
}

.desc{
    padding: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.gallery:hover .overlay{
    opacity: 0.7;
}

.seeButton{
    display: inline-block;
    text-decoration: none;
    font-size: 17px;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    margin: 10px 20px;
    padding: 8px 22px;
    cursor: pointer;
    background: transparent;
    position: relative;
}

.seeButton:hover{
    border: 2px solid #0474BC;
    background: #0474BC;
    transition: 0.7s;
}

footer{
    display: inline-block;
    align-items: center;
    justify-content: center;
    background: #041C2C;
    width: 100%;
    height: auto;
    color: rgb(255, 255, 255);
}

.follow{
    text-align: center;
    font-size: 15px;
}

.follow h2{
    padding-top: 30px;
    margin-bottom: 5px;
}

.container2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery2{
    margin: 3px;
    width: 40px;
}

.gallery2 img{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.footContent{
    text-align: center;
}

.footContent h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-bottom: 10px;
}

.footContent p{
    font-size: 12px;
}

.copy{
    font-size: 12px;
    font-weight: 100;
    padding-top: 10px;
}